<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <style>
        body {
            font-family: 'Lato', 'sans-serif';
            background-image: url(https://sun9-81.userapi.com/impf/NVbeP1Djgo-5mY3dX7zm1WzIOyycL1WMDZRmpw/lwThFMKtUXE.jpg?size=1800x951&quality=96&sign=0a2de7910f0870bfa570922da63453c6&type=album);
        }
    </style>
</head>
<body>

</body>
</html>